/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors to use

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;

*/

/* Variables for defining many pieces with the same color tone
:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
}

a {
  color: var(--primary-color);
}
*/

div {
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
}

body {
    background-color: lightgray;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 100;
}

a {
    color: #357b70;
}

a:visited {
    color: #05676e;
}

a:hover {
    text-decoration: none;
    /*
    No underlinf text when hovering over a link
  */
}

a:active {
    color: #489c79;
}

button {
    /*overwrites browser default and resets the border */
    border: none;
    /*takes the font from the outer container*/
    font-family: inherit;
    /*styles background,color,and text-decoration(underline)*/
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    /*adds spacing to button*/
    padding: 10px;
    border-radius: 3px;
    /*gives button a bottom border of width 2px, type solid, and
  color in RGBA format*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button_secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list-item--active {
    text-decoration: none;
}

/* Could write the above text as / No more then three levels

.navigation-list {
  list-style-type: none;

    li {
    display: inline-block;
    margin-left: 15px;

    .navigation-list__item--active {
      text-decoration: none;
    }
  }
}
*/

.header_title {
    margin: 0 auto;
}

.profile_portrait {
    float: left;
    width: 170px;
    margin-right: 50px;
    height: auto;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction places outside text on particular point around social media links*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    /*text-align: center;*/
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.background-img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.page-header-item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

/*Grid Fallback */

.grid-item {
    display: inline-block;
    width: 33%;
}

.portfolio-work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* When making grids, "colums" needed to be specified but "rows" will auto grow*/
    grid-gap: 20px
    /* When browser is being changed then grid-gap will keep it alighned with the page*/
}

.grid-item {
    background-color: lightgray;
    padding: 10px;
    /* add-on to grid-fallback to ensure layout works with older browsers*/
    width: auto;
}

.grid-item:last-child {
    /* Makes grid item go in whatever order you may want, in this case makes
  one grid take up 2 spaces*/
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    /*Can specify end or start by adding such to end of column or row "grid-column-row" */
}

/* Other values for "all" can be screen, print, and speech */

@media all and (max-width: 500px) {
    .portfolio-work {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        /* changes 3-column grid to 1-column when below 500px by passing 1fr */
    }
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .portfolio-work {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        /* by adding another 1fr, the screen willshow 2 columns when between 501px and 750px */
    }
}

@media all and (max-width: 750px) {
    .portfolio-work {
        grid-gap: 10px;
    }
    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

.button {
    border: none;
    /* Overwrites browser defaults and resets the border */
    display: inline-block;
    font-family: inherit;
    /* takes the font from the outer container */
    /* Everything below styles the button */
    background-color: #4688ec;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.9s opacity;
    -o-transition: 0.9s opacity;
    transition: 0.9s opacity;
}

button {
    border: none;
    /* Overwrites browser defaults and resets the border */
    display: inline-block;
    font-family: inherit;
    /* takes the font from the outer container */
    /* Everything below styles the button */
    background-color: #4688ec;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.9s opacity;
    -o-transition: 0.9s opacity;
    transition: 0.9s opacity;
}

/* Add for older browsers to be able to see transitions or use postprocessors
-webkit-transition: 0.0s opacity;
   -o-transition: 0.0s opacity; */

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

/* This would allow button to inherit particular attributes to avoid
copying the same attribute for each individual button.
%button-shared {
  border: none;
  display: inline-block;

  .button {
  @extend %button-shared;
  background-color: $primary-color;
}
*/

/*  Keeps all text centered for now */

* {
    text-align: center;
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad
    }
    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad
    }
    100% {
        fill: #f76414;
    }
}

/*.sun {
  animation-duration: 4s;
  /* How long the animation takes to complete entire transition
  animation-name: color-change;
  /* Specifies the name of the animation(@keyframes)
  animation-iteration-count: infinite;
  /* How many times the animation will repeat
  animation-direction: alternate;
  /* Specifies the direction of the animation(reverse/regualar)
  animation-timing-function: linear;
  /* Specifies the speedcurve or transition in(ease,ease-in) */

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
    animation: 4s color-change infinite alternate linear;
}

/*tranform-orgin can change orgin position of an svg animation */

@-webkit-keyframes cloud-move {
    from {
        /*values of zero dont need px*/
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        /*values of zero dont need px*/
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 20s cloud-move infinite alternate linear;
    animation: 20s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.footer-wh {
    width: 80px;
    height: 80px;
}

.footer-wh40 {
    width: 40px;
    height: 40px;
}

/* extra */

/*$background-color-dblue: #112055;
$color-white: #fff;
$background-color-lgreen: #4f9d92;
$color-black: #000;
.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.box-primary {
  background-color: $background-color-dblue;
  color: $color-white;
}

.box-secondary {
  @extend %box-shared;
  background-color: $background-color-lgreen;
  color: $color-black;
}

.box-primary {
  .box-primary-lighter {
    @extend %box-shared;
  }
  .box-primary-darker {
    @extend %box-shared;
  }
}

%box-shared :hover {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
}
*/